{{ define "main" }}
<div div class="docs-list-main">
    <div class="docs-main-nav-toggle-wrapper">
        <div class="docs-main-nav-wrapper">
            <div id="docs-main-nav" class="docs-main-nav">

                <h5>Tutorials by cloud provider</h5>
                <ul>
                    {{ range $slug := (slice "aws" "azure" "gcp" "kubernetes" "docker") }}
                    {{ $provider := index (where $.Site.Data.tutorials.providers "slug" $slug) 0 }}
                    <li><a href="/tutorials/{{ $slug }}">{{ $provider.shortname }} tutorials</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="docs-nav-toggle">
            <div class="docs-nav-toggle-icon icon icon-24-24"></div>
        </div>
    </div>

    <div class="docs-main-content-wrapper">

        <div class="docs-main-content">
            <div class="tutorials-main">

                <h1>{{ .Title }}</h1>
                <div>{{ .Content }}</div>

                <div class="tutorials-clouds">
                    <h2>Tutorials by cloud provider</h2>
                    <ul class="flex flex-col md:flex-row md:flex-wrap list-none p-0">
                        {{ range $slug := (slice "aws" "azure" "gcp" "kubernetes") }}
                        {{ $provider := index (where $.Site.Data.tutorials.providers "slug" $slug) 0 }}
                        <li class="md:w-1/2 p-4 border border-gray-200 w-full">
                            <div class="card-heading">
                                <h3>{{ $provider.shortname }} Tutorials</h3>
                                <img src="{{ $provider.logo }}" />
                            </div>
                            <ul class="list-none p-0">
                                <li><a href="/docs/clouds/{{ $slug }}/get-started/">Get started {{ $provider.shortname
                                        }}</a></li>
                                <li><a href="/tutorials/{{ $slug }}">Browse all {{ $provider.shortname }} tutorials</a>
                                </li>
                            </ul>
                        </li>
                        {{ end }}
                    </ul>
                </div>

                <div class="tutorials-topics">
                    <h2>Tutorials by topic</h2>
                    <ul class="flex flex-col md:flex-row md:flex-wrap list-none p-0">
                        {{ range $taxonomy, $terms := .Site.Taxonomies.collections }}
                        {{ $collection := index (where $.Site.Data.tutorials.collections "slug" $taxonomy) 0 }}
                        <li class="md:w-1/3 p-4 border border-gray-200 w-full">
                            <h3><a href="/tutorials/{{ $taxonomy }}">{{ $collection.name }}</a></h3>
                            <p>{{ $collection.description }}</p>
                            <p>{{ len $terms }} topics</p>
                        </li>
                        {{ end }}
                    </ul>
                </div>

                <div class="tutorials-all">
                    <h2>All tutorials</h2>
                    <ul class="flex flex-col md:flex-row md:flex-wrap list-none p-0">
                        {{ range .Pages }}
                        <li class="md:w-1/3 p-4 border border-gray-200 w-full">
                            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                            <p>{{ .Description }}</p>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-3/12">

        </div>
    </div>
</div>
{{ end }}

{{ define "footer" }}

{{ end }}